<div class='main'>
  <div id='left'>
    <label for="token">OAuth Token</label>
    <input id='token' type="text" class="form-control" [(ngModel)]="oauth" placeholder="Enter Spotify OAuth">

    <div *ngIf="oauth">
      <label for="seed">Seed</label>
      <select id='seed' class="form-control" (change)="selectionChanged($event.target.value)">
        <option disabled selected value> -- select an option -- </option>
        <option value="favorites">Favorites</option>
        <option value="recent">Recently Played</option>
      </select>
    
      <div id='properties-container'>
        <table>
          <tr>
            <th>Categories</th>
            <th>Min</th>
            <th>Target</th>
            <th>Max</th>
          </tr>
          <tr *ngFor="let p of properties">
            <td><b>{{p.key}}</b></td>
            <td><input type="text" class="form-control" [(ngModel)]="p.min"></td>
            <td><input type="text" class="form-control" [(ngModel)]="p.avg"></td>
            <td><input type="text" class="form-control" [(ngModel)]="p.max"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div id="center">
    <div class='center-header' *ngIf="availableGenres.length"><b>Select up to 5 seed genres</b></div>
    <label class="container" *ngFor="let genre of availableGenres">{{genre}}
      <input type="checkbox" (click)="checkboxChecked($event, genre)">
      <span class="checkmark"></span>
    </label>
  </div>

  <div id="right">
    <div>
      <input type="text" [(ngModel)]="name" placeholder="Playlist Name">
      <button (click)="createPlaylist()">Create Playlist</button>
    </div>
  </div>
</div>
